<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:include="fragment/common :: head" />
<body>
	<div th:include="fragment/common :: header"></div>
	<div class="container">
		<div class="jumbotron">
			<h1>FooBar Market</h1>
			<p class="lead">The Largest Poiuyt Market from 1432</p>
			<p>
				<a class="btn btn-lg btn-success" th:href="@{/market/poiuyts}" role="button">Take a
					Look at Our Poiuyt</a>
			</p>
		</div>
	</div>
	<!-- /.container -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>
