<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: head" />
<body>
	<div th:include="fragment/common :: header"></div>
	<div class="container">
		<div class="jumbotron">
			<h2>Team</h2>
			<p>This web application was developed by Vincibean
				Technologies, a one-man(Andrea Bessi)-team.</p>
			<p>If you want to contact us (him, actually), write at:</p>
			<a href="mailto:andrebessi00@gmail.com">andrebessi00@gmail.com</a>
		</div>
	</div>
	<!-- /.container -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>
