<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:include="fragment/common :: head" />
<body>
	<div th:include="fragment/common :: header"></div>
	<div class="container">
		<div class="jumbotron">
			<h2>Who We Are</h2>
			<p id="smalltext">FooBar Market is the largest Poiuyt in human
				history. From 1432, people at FooBar are totally committed to
				helping mankind buy, sell, and share Poiuyts.</p>
			<h2>How It All Began</h2>
			<p id="smalltext">
				It all began in 1432, when Alfred Foo van Bar felt compelled to
				create something no one ever dared before: creating a Poiuyt market.
				<br /> While first looked down by all of his colleagues, he
				strongly believed in his commercial idea, and in June 1432 he
				resigned from his dog-sitting career to open a place where Poiuyts
				could flow freely. <br /> He named the place after his daughter,
				FooBar Foo van Bar.
			</p>
			<h2>Beginning and First Skepticism</h2>
			<p id="smalltext">While today Alfred Foo van Bar is universally
				considered a genius and the greatest man who ever lived (no, we are
				not telling you this because we were paid shamefully much, we really
				mean it!), FooBar Market was first regarded with skepticism.
				However, thanks to his brilliant mind and the constant support of
				his family, Alfred Foo van Bar kept on pursuing his drean untill the
				day of his death, when FooBar Market had already become a fearsome
				company.</p>
			<h2>New Guide, New Success</h2>
			<p id="smalltext">After his father's death, FooBar Foo van Bar
				followed in his father's footsteps, increasing the already enormous
				family wealth and transforming the company into a widely recognized
				business empire.</p>
			<h2>Other Relevant Facts</h2>
			<p id="smalltext">
				<b>In 1467: </b>Marcus Foo van Bar, tired of his mother's success in
				leading the company, poisoned her; too bad he was totally
				incompetent and didn't manage to effectively lead the company.
				Modern historian conjecture that, during his reign, Poiuyt
				technology regressed by many decades.
			</p>
			<p id="smalltext">
				<b>In 1577: </b>Robert Foo van Bar required an Iron Throne from
				which to reign. He died of tetanus few years later. His death caused
				a war between his sons called "War of the Five Kings". The reason
				for this name is unknown since the heirs were more than five, and
				none of them became a "King".
			</p>
			<p id="smalltext">
				<b>In 1701: </b>mad ruler Sauron Foo van Bar made his company sell
				"fabulous rings", but he kept for himself a "ring to rule them all".
				This caused a major crisis that was stopped (with many sacrifices)
				by Frodo Foo van Bar and his company.
			</p>
		</div>
	</div>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>
