<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:include="fragment/common :: head" />
<body>
	<div th:include="fragment/common :: header"></div>

	<!-- Jumbotron -->
	<form th:action="@{/market/export-receipt}" method="post">
		<div class="jumbotron">
			<h1 th:text="${poiuyt.name}">The Poiuyt you selected.</h1>
			<div class="form-group float-right">
				<label id="smalltext"><b>How many items you intend to
						buy?</b></label> <input type="number" class="form-control" id="quantity"
					name="quantity" min="1" max="9999" value="1" required="required"/>
				<p>
					<input type="hidden" id="id" name="id" th:value="${poiuyt.id}" />
				</p>
				<p>
					<input class="btn btn-lg btn-success float-right" type="submit"
						value="Buy Now!" />
				</p>
			</div>
			<img alt="A generic Poiuyt image" th:src="@{/img/Poiuyt.png}" />
			<p class="lead" th:text="${poiuyt.description}">The Poiuyt you
				selected.</p>
		</div>
	</form>

	<!-- Example row of columns -->
	<div class="row">
		<div class="col-lg-4" th:each="category : ${poiuyt.categorySet}">
			<h2 th:text="${category.name}">The category this Poiuyt belongs
				to.</h2>
			<p th:text="${category.description}">The descrition of the
				category this Poiuyt belongs to.</p>
			<div th:if="${category.fee}" class="jumbotron">
				<h1 th:text="${category.fee.name}">The Poiuyt you seleted.</h1>
				<p class="lead" th:text="${category.fee.description}">The Poiuyt
					you selected.</p>
				<p class="lead">
					<b>Fee amount (%) :</b> <span th:text="${category.fee.value}"></span>
				</p>
			</div>
		</div>
	</div>
	<!-- /container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
